
/* LaTeX fonts */
/* See: https://stackoverflow.com/questions/6476351/how-to-use-the-computer-modern-font-in-webpages */

/*@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunss.otf');
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsx.otf');
  font-weight: bold;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsi.otf');
  font-style: italic, oblique;
}
@font-face {
  font-family: "Computer Modern";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf');
  font-weight: bold;
  font-style: italic, oblique;
}
*/

@import url("https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css");

/* Headlines */

/*  .def-header + span.pl-en {
      font-size: 24px;
  }
*/
.class-header + span {
  font-size: 48px;
}


/* Line Height */

tr.commentline {
  font-style: italic;
  color: blue;
}

tr.commentline td,
tr.shortline td {
  line-height: 13px;
}

/* Prop Space Headline Fonts */


.class-header + span {
  font-weight: 400;
  /* letter-spacing: -0.1rem; */
/*  font-family: "Palatino", "URW Palladio L";*/
/*  font-style: italic;*/
  font-family: "Computer Modern";
/*  font-weight: 500;*/
}

.def-header + span {
/*  font-weight: 500;*/
  font-size: 36px;
  /* letter-spacing: -0.1rem; */
/*  font-family: "Palatino", "URW Palladio L";*/
/*  font-style: italic;*/
  font-family: "Computer Modern";
  font-weight: 500;
}

:root {
  --color-prettylights-syntax-entity: blue;
}

/* Add space below headings */
td:has(.def-header) {
  line-height: 35px;
}

/* Brackets */

.b2 {
    transform: scale(1.0, 1.4);
    display: inline-block;
}

.b3 {
    transform: scale(1.0, 1.8);
    display: inline-block;
}

/* inclined parenthesis */
.incline-bracket {
/*  transform: rotate(15deg) scale(1.25,1.25);*/
/*  display: inline-block;*/
  font-style: italic;
}

.decline-bracket {
/*  transform: rotate(-15deg) scale(1.25,1.25);*/
/*  display: inline-block;*/
  font-style: italic;
}
